<h1>New Snippet</h1>
<%= render 'form', {btn_label: 'Save Snippet'} %>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/" + $('#snippet_language_id').find('option:selected').html());

    $('#form').submit(function(event){
      $('#snippet_code').val(editor.getValue());
    });

    $('#snippet_language_id').change(function(){
      editor.getSession().setMode("ace/mode/" + $(this).find('option:selected').html());
    })
</script>
