// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#outter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#editor {
  height: 250px;
  width: 80vw;
}
#snippet_description {
  width: 80vw;
  height: 4em;
}
.snippet-top{
  display: inline-block;
}
